@use '../abstracts'as *;

body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2 {
    @media only screen and (max-width: 450px) {
        font-size: 25px;
    }
}

p {
    @media only screen and (max-width: 450px) {
        line-height: normal;
    }
}