@use '../abstracts'as *;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 125px;
    left: 0;
    z-index: 10;
    padding: 8px 16px;
    align-items: center;

    @media only screen and (max-width: 768px) {
        padding: 0px;
        background: rgb(149, 167, 146, 0.7);
        height: 100px;
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-right: 10px;

        @media only screen and (max-width: 768px) {
            margin: 0px;
            align-items: stretch;
            text-align: center;
            padding: 0px;
            background: rgb(149, 167, 146, 0.7);
        }
    }

    li {
        padding: 0px 10px;

        @media only screen and (max-width: 768px) {
            padding: 0px;
            width: 100%;
        }
    }

    &__logo {
        display: flex;
        justify-content: flex-start;
        height: 100px;
        width: 100px;
        margin-left: 0px 40px;

        @media only screen and (min-width: 768px) {
            margin-left: 0px;
        }
    }

    &__button {
        @include font-raleway;
        background: none;
        border: none;

        @media only screen and (max-width: 450px) {
            font-size: 25px;
            line-height: 10px;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            color: $green;
        }
    }
}

.retreatsNav {
    color: $grey;

    &:hover {
        color: $olive;
    }
}

.yogaNav {
    color: $grey;

    &:hover {
        color: $green;
    }
}

.navbar-toggler {
    padding-right: 20px;

    @media only screen and (min-width: 768px) {
        display: none;
    }
}

.navbar-toggler:visited {
    border: none;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $beige;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: $grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    border: 1px solid $green;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: $beige;
}

.dropdown-links {
    @include font-raleway;
    font-size: 20px;

}

.extraNav {
    display: none;

    @media only screen and (max-width: 450px) {
        display: block;
    }
}