@mixin font-raleway {
    font-family: ('raleway', 'Open Sans', sans-serif);
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    color: #403F48;
    text-align: center;
}

@mixin font-satisfy {
    font-family: ('Satisfy', 'cursive');
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    color: #403F48;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}